@charset "UTF-8";
/*Roll over*/
#circulo1{
    top:195px;
    left:302px;
}
#circulo2{
    top:184px;
    left:230px;
}
.puntoSensible {
    position: absolute;
    opacity:0.5;
}
.puntoSensible:hover{
    opacity:0.8;
}
.mensajes{
    position: absolute;
    display: inline-block;
}
.informacion {
	border-style: solid;
	border-width: 2px;
	border-color: #CC003D;
	font-family: "Times New Roman", Times, serif;
	background-color: #F5F4F6;
	padding: 10px;
	top:0;
    left:0;
	z-index: 3;
	position: absolute;
	min-width: 140px;
	font-size: 0.75em;
	border-radius: 5px;
	text-align: justify;
    display: none;
}
section.zonaSensible{
    text-align: center;
    overflow:hidden;
}
div.hoverable{
    position: relative;
    display: inline-block;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
}
/*Fin Roll over*/
/*Estilos extras, pueden borrarse si el roll over es incluído en otro tipo de HTML*/
body{
    max-width: 960px;
    margin: 5px auto;
    background: white;
    border-radius: 8px;
    padding: 10px 10px 30px 30px;
    border: 1px solid #adaa9f;
    box-shadow: 0 2px 2px #9c9c9c;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #999;
    text-align:left;
    margin-bottom:0;
}
h2{
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #cf886c;
    text-align:left;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #AAA;
}